* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: #1C1C1C   ;   ;
    padding: 16px 0;
    color: #f3f6fa;
 }


header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 18px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff; /* Cor do texto */
    font-size: 16px;
    padding: 10px 15px;
    transition: 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: #9e34db; /* Destaque ao passar o mouse */
    color: #fff;
    border-radius: 5px;
}



header li a {
    color: #fff;
    text-decoration: none;
}
.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 180px;*/
    width: 100%;

}

.articles article {
    width: 30%
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

section h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color:rgba(0, 255, 0, 0.1) ;
}

#sports .articles article a {
    background-color: #009432;
}

#economy {
    background-color: #f8f59f;
}

#economy .articles article a {
    background-color: #ff9f1a;
}

    #entreteniment {
        background-color: #FFE4E1;
    }

#entreteniment .articles article a {
    background-color: #FA8072;
}

#technology {
    background-color: #7fccf5;
}

#technology .articles article a {
    background-color: #00679e;
}

img {
    height: 200px;
    object-fit: cover;
    width: 200px;
}

.creation-date {
    color: #2c3e50;
}